<!DOCTYPE html>
<html>
<head>
    <title>form</title>
<body bgcolor="yellow"></body>
<h1>Pentium point technical college Rewa
    <h1>
        <h2>B.com MarksheetMark sheet </h2>
        <form>
            Math sub1 marks<input type="number"><br>
            Management sub2 marks<input type="number"><br>
            Accounting sub3 marks<input type="number"><br>
            computer sub4 marks<input type="number"><br>

            <input type="submit"=value,"generate marksheet">
            <br>
        </form>
        </head>
</html>